:root {
    --primary-rgb: 75 0 130;
}

body {
    padding: 20px;
    display: grid;
    place-items: center;
}

.screen {
    position: relative;
    display: flex;
    width: 500px;
    background-color: rgb(var(--primary-rgb) / 15%);
    border: 3px solid rgb(var(--primary-rgb) / 80%);
    aspect-ratio: 10/16;
    border-radius: 1rem;
    overflow: hidden;

    &__overlay {
        position: absolute;
        z-index: 2;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        background-size: 100% 9px;
        background-image: linear-gradient(
            rgb(var(--primary-rgb) / 0.15),
            rgb(var(--primary-rgb) / 0.15) 3px,
            transparent 3px,
            transparent 9px
        );
        animation: pan-overlay 22s infinite linear;
    }

    &__image {
        position: absolute;
        background-image: url(https://files.catbox.moe/ar9dr2.jpg);
        width: 100%;
        height: 100%;
        background-size: 150%;
        background-position: center;
        filter: sepia(100%) hue-rotate(224deg);
        opacity: 0.6;
        animation: pan-image 15s infinite linear;
    }

    &__content {
        display: flex;
        flex-basis: 100%;
        z-index: 3;
        border: 1px solid rgb(var(--primary-rgb) / 80%);
        border-radius: 0.6rem;
        margin: 1rem;
    }
}

@keyframes pan-overlay {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 0% -100%;
    }
}

@keyframes pan-image {
    0% {
        background-position: 25% 30%;
        background-size: 150%;
    }
    20% {
        background-position: 20% 20%;
        background-size: 150%;
    }
    20.0001% {
        /* -- View 2 -- */
        background-position: 60% 85%;
    }

    40% {
        background-position: 49% 81%;
    }

    40.0001% {
        /* -- View 3 -- */
        background-position: 80% 42%;
    }

    60% {
        background-position: 84% 33%;
    }

    60.0001% {
        /* -- View 4 -- */
        background-position: 0% 0%;
    }

    80% {
        background-position: 15% 4%;
    }

    80.0001% {
        /* -- View 5 -- */
        background-position: 80% 10%;
    }

    100% {
        background-position: 72% 14%;
    }
}
